################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs
/PeladeirosfcApp/bin/Debug/net8.0
/PeladeirosfcApp/obj
/PeladeirosfcAppView/obj
/PeladeirosfcAppWeb/obj
/PeladeirosfcAppView/bin/Debug/net8.0
