@page "/"

<PageTitle>Peladeiros FC - Jogue mais, organize menos</PageTitle>

<div class="min-h-screen bg-background">
    <Header />
    <main>
        <HeroSection />
        <FeaturesSection />
    </main>
    <Footer />
</div>
